@import "tailwindcss";

body {
    @apply bg-[#121212] text-white;
    font-family: 'Montserrat', sans-serif;
}

div.top-bar {
    @apply h-[minmax(14,fit-content)] flex justify-between items-center gap-x-2 px-1 py-1 z-10 w-full;
}
div.top-bar div.material-icons-round {
    @apply text-[24px] flex! items-center justify-center cursor-pointer w-fit min-w-12 h-12;
}
div.top-bar div.title {
    @apply h-full py-1 flex justify-center items-center text-[22px] leading-normal;
}

div.listing-item {
    @apply flex justify-between items-center px-4 py-2 gap-x-4 text-[16px] leading-normal;
}

div.circuit-con {
    @apply flex flex-col md:justify-center px-4 pt-2 pb-4 gap-y-4 h-full;
}

@container (aspect-ratio > 1.5/1) {
    div.circuit-con {
        @apply flex-row;
    }
}

div.controls-con {
    @apply px-4 py-2 flex flex-col justify-center items-center;
}
@container (width > 800px) {
    div.controls-con {
        @apply flex-row;
    }
}

@media (width >= 48rem) {
    .panel, .panel.shown {
        @apply h-full w-[25vw];
    }
}
@media (width < 48rem) {
    .panel.shown {
        @apply absolute w-full top-0 left-0 right-0 bottom-0 z-30;
    }
    .panel:not(.shown) {
        @apply hidden;
    }
}
.panel.full-screen {
    @apply absolute w-full top-0 left-0 right-0 bottom-0 z-30;
}
.panel.hide {
    @apply hidden;
}
@media (width >= 48rem) {
    .panel-toggle.shown {
        @apply flex;
    }
    .panel-toggle.hide, .panel-toggle:not(.shown) {
        @apply hidden;
    }
}
@media (width < 48rem) {
    .fullscreen-toggle {
        @apply hidden;
    }
    .panel-toggle.shown, .panel-toggle:not(.shown) {
        @apply flex;
    }
    .panel-toggle.hide {
        @apply hidden;
    }
}

/* Credits: https://flowbite.com/docs/forms/select/ */
select {
    @apply w-[140px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

/* Credit: https://tailwindflex.com/@nickgirga/material-3-switches-light */
/* Base Switch Style (Applied to Checkbox) */
.switch {
    @apply appearance-none relative w-14 h-8 cursor-pointer;
}

/* Switch Track */
.switch::before {
    @apply block w-14 h-8 transition duration-200 rounded-full border-2 border-[#938F99] bg-[#36343B];
    content: "";
}

/* Switch Handle */
.switch::after {
    @apply block absolute top-2 ml-2 w-4 h-4 transition duration-200 bg-[#938F99] rounded-full;
    content: "";
}

/* Switch Track when Flipped On */
.switch:checked::before {
    @apply bg-[#D0BCFF] border-0;
}

/* Switch Handle when Flipped On */
.switch:checked::after {
    @apply translate-x-6 scale-[125%] bg-[#381E72];
}

/* Switch Handle when Hovering (Off) */
.switch:not(:disabled):hover::after {
    filter: drop-shadow(0 0px 8px #CAC4D0);
}

/* Switch Handle when Hovering (On) */
.switch:not(:disabled):hover:checked::after {
    filter: drop-shadow(0 0px 8px #4F378B);
}

/* Switch Disabled Style */
.switch:disabled {
    @apply cursor-not-allowed;
}

/* Switch Disabled (Off) Track Style */
.switch:disabled::before {
    @apply border-[#E6E0E9] bg-[#36343B];
}

/* Switch Disabled (On) Track Style */
.switch:disabled:checked::before {
    @apply bg-[#E6E0E9];
}